@import "./css/reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A6;
    margin: 0;
    width: 148mm;
    height: 210mm;
  }

  .page {
    page-break-after: always;
    border: none transparent 0px;
  }
}

.page {
  border: solid silver 1px;
  width: 148mm;
  height: 210mm;
}
