@import "./css/reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A6;
    margin: 0;
    width: 105mm;
    height: 148mm;
  }

  .page {
    page-break-after: always;
  }
}

.page {
  width: 105mm;
  height: 148mm;
}
